<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower Prediction</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <img src="static/iris logo.jpg" alt="Iris Flower">
            <form action="/predict" method="post">
                <label for="sepal_length">Sepal Length in cm</label>
                <input type="number" step="1" id="sepal_length" name="sepal_length" required>

                <label for="sepal_width">Sepal Width in cm</label>
                <input type="number" step="1" id="sepal_width" name="sepal_width" required>

                <label for="petal_length">Petal Length in cm</label>
                <input type="number" step="1" id="petal_length" name="petal_length" required>

                <label for="petal_width">Petal Width in cm</label>
                <input type="number" step="1" id="petal_width" name="petal_width" required>

                <button type="submit">Submit</button>
            </form>
            {% if prediction %}
            <h3>Predicted Iris Category: {{ prediction }}</h3>
            {% endif %}
        </div>
    </div>
</body>
</html>
